@import "tailwindcss";

@font-face {
  font-family: 'Achemine';
  src: url('/fonts/achemine/achemine_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Achemine';
  src: url('/fonts/achemine/achemine_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/achemine/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: medium;
}

@theme {
  --font-achemine: 'Achemine', sans-serif;
  --font-avenir: 'Avenir', sans-serif;
  --color-ambre: #EDD484;
  --color-safran: #DAAA00;
  --color-menthe: #A1D6CA;
  --color-foret: #154734;
  --color-ocre: #DC582A;
  --color-mordore: #4A412A;
  --color-peche: #FDBE87;
  --color-nude: #F8C1B8;
  --color-lavande: #6558B1;
  --color-parme: #C7B2DE;
  --color-aubergine: #3F2A56


}

body {
  font-family: var(--font-avenir);
  height: 100%;
  background-image: url('/identites_0.jpg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  overscroll-behavior: none;
}
