@import "tailwindcss";

@font-face {
  font-family: 'Achemine';
  src: url('/fonts/achemine/achemine_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Achemine';
  src: url('/fonts/achemine/achemine_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/achemine/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: medium;
}

@theme {
  --font-avenir: 'Avenir', sans-serif;
}

body {
  font-family: var(--font-avenir);
}